<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CheckBoxSuite">
    <test name="CheckBoxTest">
        <classes>
            <class name="testing.ui.CheckBoxTest"/>
        </classes>
    </test>
    <test name="WebTablesTest">
        <classes>
            <class name="api.tests.BookApiTests">
                <methods>
                    <include name="addBookToUserE2ETest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>